body {
  background-color: #555;
}
h2 {
  color: #6ae9f0;
  background-color: rgb(245, 179, 165);
}
button {
  color: magenta;
  background-color: cyan;
}
p {
  color: olive;
  background: orange;
}
