body {
	background-color: #f1faee;
}
button {
	font-size: 20px;
	background-color: #a8dadc;
}

h1,
h2 {
	color: #1d3557;
}

h1,
h2 {
	color: olivedrab;
}

#signup {
	color: #f1faee;
	background-color: #1d3557;
}
span {
	color: #457b9d;
}
.tag {
	background-color: #e63946;
	color: #f1faee;
	font-size: 14px;
}

.post a {
	color: #1d3557;
	text-decoration: none;
}

footer a {
	color: #e63946;
}

h2 + button {
	font-size: 15px;
}

footer > a {
	color: #a8dadc;
}

input[type='password'] {
	color: red;
}

a[href*='google'] {
	color: magenta;
}

a:hover {
	text-decoration: underline;
}

.post button:active {
	background-color: #02c39a;
}

.post:nth-of-type(2n) {
	background-color: #dfe8dc;
}

h2::first-letter {
	font-size: 40px;
	color: #e63946;
}

p::first-line {
	color: magenta;
}

p::selection {
	background-color: #fcbf49;
}

button:hover {
	background-color: olivedrab;
}

.post button:hover {
	background-color: #e63946;
	color: #f1faee;
}
